<div id="<%= dom_id ticket %>">
  <p>
    <strong>Request number:</strong>
    <%= ticket.request_number %>
  </p>

  <p>
    <strong>Sequence number:</strong>
    <%= ticket.sequence_number %>
  </p>

  <p>
    <strong>Request type:</strong>
    <%= ticket.request_type %>
  </p>

  <p>
    <strong>Request action:</strong>
    <%= ticket.request_action %>
  </p>

  <p>
    <strong>Response due date time:</strong>
    <%= ticket.response_due_date_time %>
  </p>

  <p>
    <strong>Primary sac:</strong>
    <%= ticket.primary_sac %>
  </p>

  <p>
    <strong>Additional sac:</strong>
    <%= ticket.additional_sac %>
  </p>

  <p>
    <strong>Dig site info:</strong>
    <%= ticket.dig_site_info %>
  </p>

</div>
